<button (click)="onClick($event)">Clickme</button>

<select (change)="onChange($event)">
    <option value="Uno">Unp</option>
    <option value="Dos">Dps</option>
    <option value="Tres">Tres</option>
</select>

<div (mouseenter)="onMouseEnter($event)"
     (mousemove)="onMouseOut($event)"
     class="cuadrado">
    {{ message }}
</div>