<!-- <app-padre></app-padre> -->
<!-- <div id="app-saludo"></div> -->
<!-- <app-exercise-sumar></app-exercise-sumar> -->
<!-- <app-cronometro></app-cronometro> -->
<app-event-binding></app-event-binding>

